In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'angles': [0, 3, 4],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])

In [3]:
df

           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360

In [4]:
df + 1

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361

In [5]:
df.add(1)

           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361